{% extends "stock_backtest/base.html" %}

{% block content %}


<div id="write-factor-box">

 
    <form name="factor_form" action="{% url 'stock_backtest:evaluating' %}" method="post" >
        {% csrf_token %}
        <h1> 回测参数设置 </h1>
        <label for="universe">选股范围:</label>
        <select id="universe" name="universe">
            <option value="all">全部A股(排除新股、ST)</option>
            <option value="is_hs300">沪深300</option>
            <option value="is_zz500">中证500</option>
            <option value="is_zz1000">中证1000</option>
        </select>

        <br>

        <label for="start_date">开始日期:</label>
        <input type="date" id="start_date" name="start_date" required value="2019-01-01">

        <br>

        <label for="end_date">结束日期:</label>
        <input type="date" id="end_date" name="end_date" required value="2023-01-01">

        <br>

        <label for="return_type">收益率计算方式</label>
        <select id="return_type" name="return_type">
            <option value="raw_close_close">Raw Close to Close</option>
            <option value="raw_close_vwap">Vwap Return</option>
            <option value="excess_return">Excess Return w.r.t. zz500</option>
        </select>
        
        <br>
        <label for="turnover_fee"> 滑点和手续费 </label>
        <input type="float" id="turnover_fee" name="turnover_fee" value="0.0005">
        <br>

        <br>

        <label for="factor_name">Factor Name:</label>
        <input  type="text" id="factor_name" name="factor_name" default:"my_factor">
        <br>

        <label for="factor_expression">Additional Info:</label>
        <input type="text" id="factor_expression" name="factor_expression">

        <br>

        <input type="submit" value="开始回测">
    </form>

</div>

<div id="operator_dict">
<table>
    <thead>
        <tr>
            {% for col in func_columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in func_data %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>


<div id="col_info_dict">
    <table>
        <thead>
            <tr>
                {% for col in col_columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in col_data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock content %}

